

input[type=checkbox]#theme-toggle {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 4em;
    height: 2em;
    border-radius: 2em;
    background-color: #ddd;
    outline: 0;
    cursor: pointer;
    transition: background-color 0.09s ease-in-out;
    position: relative;
}

input[type=checkbox]#theme-toggle:checked {
    background-color: #333;
}

input[type=checkbox]#theme-toggle::after {
    content: '';
    width: 2em;
    height: 2em;
    background-color: white;
    border-radius: 2em;
    position: absolute;
    transform: scale(0.7);
    left: 0;
    transition: left 0.09s ease-in-out;
    box-shadow: 0 0.1em rgba(0, 0, 0, 0.5);
}

input[type=checkbox]#theme-toggle:checked::after {
    left: 2em;
}