<div class="row">
  <div class="col-md-4 col-sm-0"></div>
  <div class="col-md-1 col-sm-3" style="text-align:center">
    <a href="resume" data-toggle="popover" data-content="Resume">
      <img src="png/text-file.png" style="min-width:64px; max-width:50%">
    </a>
    <h6>Resume</h6>
  </div>
  <div class="col-md-1 col-sm-3" style="text-align:center">
    <a href="mailto:ivan.lin@stonybrook.edu" data-toggle="popover" data-content="Email">
      <img src="png/envelope-of-white-paper.png" style="min-width:64px; max-width:50%;">
    </a>
    <h6>Email</h6>
  </div>
  <div class="col-md-1 col-sm-3" style="text-align:center">
    <a href="http://www.github.com/ivlin" data-toggle="popover" data-content="Github">
      <img src="png/github-logo.png" style="min-width:64px; max-width:50%;">
    </a>
    <h6>GitHub</h6>
  </div>
  <div class="col-md-1 col-sm-3" style="text-align:center">
    <a href="https://www.linkedin.com/in/ivan-lin-702752139/" data-toggle="popover" data-content="LinkedIn">
      <img src="png/linkedin-sign.png" style="min-width:64px; max-width:50%;">
    </a>
    <h6>LinkedIn</h6>
  </div>
  <div class="col-md-4 col-sm-0"></div>
</div>