<div class="container">
  <div class="row">
  	<h2>Stony Brook University (2016-Present)</h2>
  </div>
  <hr>
  <div class="row"><h4>Activities</h4></div>
  <div class="row">
  	<div class="media col-md-6">
  	  <div class="media-left">
  	  	<img class="media-object" src="png/group-profile-users.png" alt="teaching" style="height:auto; width:5em">
  	  </div>
  	  <div class="media-body">
  	    <h5 class="media-heading" style="display:inline">Teaching Assistant</h5>
  		  <h6>HON101: Introduction to Stony Brook</h6>
  		  <p>Provided advice regarding school activities, posted relevant announcements, and encouraged class discussions.</p>
  		</div>
  	  </div>
  	  <div class="media col-md-6">
  		<div class="media-left">
      	  <a href="https://www.nfte.com">
      	  	<img class="media-object" src="png/open-folder.png" alt="secretary" style="height:auto; width:5em">
      	  </a>
      	</div>
      	<div class="media-body">
      	  <h5 class="media-heading" style="display:inline">Secretary</h5>
      	  <h6>Stony Brook Solar Racing Team</h6>
      	  <p>Took minutes during official meetings, notified members of upcoming events, and maintained contact with club advisors.
      	  </p>
     	</div>
    </div>
  </div>
  <div class="row"><h4>Relevant Coursework</h4></div>
  <div class="row">
  	<div class="col-md-6">
  		<ul>
  			<li>CSE300: Technical Writing</li>
  			<li>CSE220/320: Systems Fundamentals I, II</li>
  			<li>CSE160/260: Computer Science A, B Honors</li>
  			<li>CSE150: Fundamentals of Computer Science</li>
  		</ul>
  	</div>
  	<div class="col-md-6">
  		<ul>
  			<li>AMS361: Differential Equations</li>
  			<li>AMS301: Finite Mathematical Structures</li>
  			<li>MAT261: Multivariate Calculus</li>
  			<li>MEC203: Engineering Graphics and CAD</li>
  		</ul>
  	</div>
  </div>
  <div style="height:40px"></div>
  <div class="row"><h2>Stuyvesant High School (2012-2016)</h2></div>
  <hr>
  <div class="row"><h4>Relevant Coursework</h4></div>
  <div class="row">
  	<div class="col-md-6">
  		<ul>
  			<li>Computer Graphics</li>
  			<li>Systems Level Programming</li>
  		</ul>
  	</div>
  	<div class="col-md-6">
  		<ul>
  			<li>Software Development</li>
  			<li>AP Computer Science</li>
  		</ul>
  	</div>
  </div>
</div>