<div class="container">
  <div class="row">
  	<h2>Stony Brook University (2016-Present)</h2>
  </div>
  <hr>
  <div class="row"><h4>Activities</h4></div>
  <div class="row">
  	<div class="media col-md-6">
  	  <div class="media-left">
  	  	<img class="media-object" src="sbu.jpg" alt="teaching" style="height:auto; width:5em">
  	  </div>
  	  <div class="media-body">
  	    <h5 class="media-heading" style="display:inline">Teaching Assistant</h5>
  		  <h6>HON101: Introduction to Stony Brook</h6>
  		  <p>Provided advice regarding school activities, posted relevant announcements, and encouraged class discussions.</p>
  		</div>
  	  </div>
  	  <div class="media col-md-6">
  		<div class="media-left">
      	 <a href="http://sbusolarracing.weebly.com/">
      	  <img class="media-object" src="solar.jpg" alt="secretary" style="height:auto; width:5em">
      	</a>
      </div>
      <div class="media-body">
      	<h5 class="media-heading" style="display:inline">Secretary</h5>
        <h6>Stony Brook Solar Racing Team</h6>
        <p>Took minutes during official meetings, notified members of upcoming events, and maintained contact with club advisors.
        </p>
      </div>
    </div>
  </div>
  <div class="row"><h4>Relevant Coursework</h4></div>
  <div class="row">
  	<div class="col-md-6">
  		<ul>
  			<li><a href="https://www.cs.stonybrook.edu/students/Undergraduate-Studies/courses/CSE353">CSE353: Machine Learning</a> - Spring 2018 </li>
        <li><a href="https://www.cs.stonybrook.edu/students/Undergraduate-Studies/courses/CSE350">CSE350: Theory of Computation Honors</a> - Spring 2018 </li>
        <li><a href="https://www3.cs.stonybrook.edu/~mikepo/CSE331/2017/">CSE331: Computer Security</a></li>
        <li><a href="https://www.cs.stonybrook.edu/students/Undergraduate-Studies/courses/CSE300">CSE300: Technical Writing</a></li>
  			<li><a href="http://www3.cs.stonybrook.edu/~cse220/">CSE220</a>/<a href="http://www3.cs.stonybrook.edu/~cse320/">320: Systems Fundamentals I, II</a></li>
  			<li><a href="http://www3.cs.stonybrook.edu/~cse160/">CSE160</a>/<a href="http://www3.cs.stonybrook.edu/~cse260/">260: Computer Science A, B Honors</a></li>
  			<li><a href="http://www3.cs.stonybrook.edu/~cse150/">CSE150: Fundamentals of Computer Science</a></li>
  		</ul>
  	</div>
  	<div class="col-md-6">
  		<ul>
  			<li><a href="https://www.cs.stonybrook.edu/students/Undergraduate-Studies/courses/CSE305">CSE305: Principles of Database Systems</a> - Spring 2018 </li>
        <li><a href="http://www.stonybrook.edu/commcms/ams/undergraduate/_courses/ams345.php">AMS345: Computational Geometry</a></li>
        <li><a href="http://www.stonybrook.edu/commcms/ams/undergraduate/_courses/ams361.php">AMS361: Differential Equations</a></li>
  			<li><a href="http://www.stonybrook.edu/commcms/ams/undergraduate/_courses/ams301.php">AMS301: Finite Mathematical Structures</a></li>
  			<li><a href="https://www.math.stonybrook.edu/MAT203">MAT261: Multivariate Calculus with Applications</a></li>
  			<li><a href="http://sb.cc.stonybrook.edu/bulletin/current/courses/mec/">MEC203: Engineering Graphics and CAD</a></li>
  		</ul>
  	</div>
  </div>
  <div style="height:40px"></div>
  <div class="row"><h2>Stuyvesant High School (2012-2016)</h2></div>
  <hr>
  <div class="row"><h4>Relevant Coursework</h4></div>
  <div class="row">
  	<div class="col-md-6">
  		<ul>
  			<li><a href="https://github.com/ivlin/graphics-homeworks">Computer Graphics</a></li>
  			<li><a href="http://www.stuycs.org/courses/mks65">Systems Level Programming</a></li>
  		</ul>
  	</div>
  	<div class="col-md-6">
  		<ul>
  			<li><a href="https://github.com/ivlin/SoftDevSpring">Software Development</a></li>
  			<li><a href="https://github.com/ivlin/APCSHWPartII">AP Computer Science</a></li>
  		</ul>
  	</div>
  </div>
</div>