<h2><%= link_to "Resume", resume_url, target: "_blank"%></h2>

<div class="work-experience section">
<h2><a id="toggle-work-exp" href="#">&#9660; Work Experience</a></h2>
<hr>
<%= render "static_pages/experience/work_experience" %>
</div>

<div class="projects section">
<h2><a id="toggle-work-exp" href="#">&#9660; Work Experience</a></h2>
<hr>
<%= render "static_pages/experience/projects" %>
</div>