<%= render 'static_pages/quick_links' %>

<div class="work-experience section">
<h2><a id="toggle-work-exp" href="#">Work Experience</a></h2>
<hr>
<%= render "static_pages/experience/work_experience" %>
</div>

<div class="projects section">
<h2><a id="toggle-work-exp" href="#">Personal Projects</a></h2>
<hr>
<div style="padding:0 20px">
<%= render "static_pages/experience/projects" %>
</div>
</div>