.margin-large {
	margin: 20px 10px;
	font-color: "red";
}

a.hidden-link {
	color:black;
	text-decoration:none;
}

a.hidden-link:hover h2, a.hidden-link:hover h6{
	font-weight:bold;
}

.synopsis-item {
	max-width:33%;
}

.list-item-icon{
	max-width:25%;
	margin:1%;
}