<div class="container">
	<div class="row">
		<h2>Stony Brook University (2016-Present)</h2>

	</div>
	<hr>
	<div class="row"></div>
	<div class="row">
		<div class="col-md-6" style="height:fit-content; text-align:center">
			<img src="png/group-profile-users.png" style="max-height:10%">
			<h4>Teaching Assistant</h4>
			<h5>Introduction to Stony Brook</h5>
		</div>
		<div class="col-md-6" style="height:fit-content; text-align:center">
			<img src="png/open-folder.png" style="max-height:10%">
			<h4>Secretary</h4>
			<h5>Solar Racing Team</h5>
		</div>
	</div>
</div>