<div class="media col-md-12">
  <div class="media-left">
    <img class="media-object" src="png/code.png" alt="c lang" style="height:auto; width:7em">
  </div>
<div class="media-body">
  <h4 class="media-heading" style="display:inline">DirectWriter</h4>
  <p>DirectWriter is a command line tool that allows user to quickly rename or delete files in a given directory. The directory tree structure will be listed out in text in the terminal, allowing users to change text as though in a text editor. This way, many file names can be changed at once and upon exiting the application, all changes will be applied to the actual files.</p>
  <p>Created using: C</p> 
</div>
</div>
<div class="media col-md-12">
  <div class="media-left">
    <img class="media-object" src="png/code.png" alt="java lang" style="height:auto; width:7em">
  </div>
  <div class="media-body">
    <h4 class="media-heading" style="display:inline">WPMaker</h4>
    <p>WPMaker is a simple project that allows the user to convert any image to a dichroic picture consisting only of black and a user-selected colors based on the lightness of each pixel's color values. Allows user to adjust the light/dark threshold, background color, and output image size. Intended for the creation of minimalist wallpapers.</p>
    <p>Created using: Java </p>  
  </div>
</div>