  <div class="row" style="margin: 0 20px">
  <div class="media col-md-12">
    <div class="media-left">
     <a href="https://www.sweetist.com">
        <img class="media-object" src="sweetist.png" alt="sweetist" style="height:auto; width:7em">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading" style="display:inline">Full Stack Developer Intern</h4><p style="display:inline; float: right; margin-bottom: 0px;">June 2017 - August 2017</p><br>
      <h6>&emsp; at Sweetist Co</h6>
      <p> Implemented features, patched bugs, developed tests, and adjusted stylings in a number of different web applications. Examples include
      <ul>
        <li>Created a internal data analytics app that pulls data from other apps</li>
        <li>Developed features and bugfixes in existing apps that required writing functionality in both the front and back end</li>
        <li>Collaborated with the marketing team to enact website coloring and design changes</li>
        <li>Wrote spec tests for checking existing bugs and new features</li>
      </ul></p>
      <p> Technologies used includes HTML, CSS, Javascript (jQuery), and Ruby on Rails.</p>
    </div>
  </div>
  <div class="media col-md-12">
    <div class="media-left">
     <a href="https://www.nfte.com">
        <img class="media-object" src="nfte.png" alt="nfte" style="height:auto; width:7em">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading" style="display:inline">Mentor/ Engineer</h4><p style="display:inline; float:right; margin-bottom: 0px">June 2015 - August 2016</p><br>
      <h6>&emsp; at the Network for Teaching Entrepreneurship</h6>
        <p> Lead a team of students in creating a mobile Android application aiming to allow users to share events based in New York City. Created a mock business plan for expanding the application's user count and profitability.</p>
        <p> Provided technical advice to other students aiming to develop their own mobile applications.</p>
        <p> Technologies used includes HTML, CSS, and Javascript in conjunction with the Apache Cordova mobile development framework.</p>  
     </div>
  </div>
</div>
<div class="row" style="margin: 0 20px">
  <div class="media col-md-6">
    <div class="media-left">
     <a href="https://www.bca.net">
        <img class="media-object" src="bca.png" alt="bca" style="height:auto; width:7em">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading" style="display:inline">Teaching Assistant</h4><p style="display:inline; float: right; margin-bottom: 0px;">June 2016 - August 2016</p>
      <h6>&emsp; at the Brooklyn Chinese-American Association</h6>
      <p> Guided students during lessons, classroom activities, and school trips while ensuring their safeties.</p>
    </div>
  </div>
  <div class="media col-md-6">
    <div class="media-left">
     <a href="https://www.nfte.com">
        <img class="media-object" src="bnia.png" alt="bnia" style="height:auto; width:7em">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading" style="display:inline">Receptionist</h4><p style="display:inline; float:right; margin-bottom: 0px">June 2014 - August 2014</p>
      <h6>&emsp; at the Brooklyn Neighborhood Improvement Association</h6>
        <p> Directed calls, received visitors, and assisted with miscellaneous tasks around the office.</p>  
     </div>
   </div>
</div>